{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<div class="card">
  <div class="card-body">
    <h4>Editar Postagem:</h4>

    <form action="/adm/postagens/edit" method="post">

      <input type="hidden" name="id" value="{{postagem._id}}" />

      <label for="titulo" class="mt-1">Título:</label>
      <input
        type="text"
        name="titulo"
        class="form-control"
        value="{{postagem.titulo}}"
        required
      />

      <label for="slug" class="mt-1">Slug:</label>
      <input
        type="text"
        name="slug"
        class="form-control"
        value="{{postagem.slug}}"
        required
      />

      <label for="descricao" class="mt-1">Descrição:</label>
      <input
        type="text"
        name="descricao"
        class="form-control"
        value="{{postagem.descricao}}"
        required
      />

      <label for="conteudo" class="mt-1">Conteúdo:</label>
      <textarea
        name="conteudo"
        id="conteudoconteudo"
        class="form-control"
        cols="30"
        rows="7"
        required
      >{{postagem.conteudo}}</textarea>

      <label for="categoria" class="mt-1">Categoria:</label>
      <select name="categoria" id="categoria" class="custom-select">
        {{#each categorias}}
          <option value="{{_id}}">{{nome}}</option>
        {{/each}}
        {{#unless categorias.length}}
          <option value="0">Nenhuma categoria registrada</option>
        {{/unless}}
      </select>

      <button type="submit" class="btn btn-success mt-4">Editar Postagem</button>
    </form>
  </div>
</div>