<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog feito em Node.js</h1>
  <p class="lead">Uma aplicação REST simples desenvolvida no ambiente Node.js,
    utilizando Express.js, MongoDB, e outras tecnologias!
  </p>
  {{#if user}}

  {{else}}

  <hr class="my-4" />
  <p class="text-secondary">Utilize o botão abaixo para criar sua conta.</p>
  <a class="btn btn-secondary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>

  {{/if}}
</div>

<hr />
<h2>Postagens recentes:</h2>

{{#each postagens}}
  <div class="card mt-3">
    <div class="card-body">
      <h2>{{titulo}}</h2>
      <p><strong>Descrição:</strong> {{descricao}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr />
      <small><strong>Data:</strong> {{data}}</small>
      <small class="ml-4"><strong>Categoria:</strong> {{categoria.nome}}</small>
    </div>
  </div>
{{else}}
  <h5>Nenhuma postagem</h5>
{{/each}}
<hr class="mb-2" />