<h2>{{categoria.nome}}</h2>

{{#each postagens}}
  <div class="card mt-3">
    <div class="card-body">
      <h2>{{titulo}}</h2>
      <p><strong>Descrição:</strong> {{descricao}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
      <hr />
      <small><strong>Data:</strong> {{data}}</small>
      <small class="ml-4"><strong>Categoria:</strong> {{nomeCategoria}}</small>
    </div>
  </div>
{{else}}
  <h5>Nenhuma postagem</h5>
{{/each}}

<hr />